:root{
--left-box: #212b36;
--white-menu: #fff;
--right-box: #f4f7ff;
--left-text: #637381;
--boreder-box: #e7e7e7;
--left-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
--border-line: #E7E7E7;
--background-image: rgba(71, 120, 212, 0.7);
--right-background: #F4F7FF;
--search-back: #f8fafc;
--blue-back: #3056d3;
--rouned-box: #eff2f7;
--latest-button: #444054;

--grenn-text: #5cd294;
--modal-bak: #9fb9eb;
--events-text: #495057;
--modal-round: #ecf8ff;
--boder-two: #e0e5ef;

--logout-box: #444054;

--round-one: #dc3a61;
--round-two: #f7b924;
--round-three: #3ac47d;
--round-for: #3f6ad8;
--nessage-color: #3f6ad8;
--black: #000000;
--white: #ffffff;

--left-penal-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);

--regular-text-color: #637381;
;
--border-color: #E7E7E7;

--right-penal-background: #F4F7FF;

--blue: #3056D3;

--text-color: #212B36;

--search-background: #F8FAFC;

--green: #45CB85;

--europe-text-color: #171717;

--europe-shadow: (0px 1px 4px rgba(0, 0, 0, 0.12));


--yellow: #FFA70B;

--yellow-light: #fff8ec;

--red: #d34053;
--red-light: #fcf0f2;

--green-light: #eef7f2;
    
}